*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
	font-family: monospace;
}

main{
    width: 100%;
    margin: 0 auto;
}

footer{
	text-align: center; 
}

/* imagen de la cabecera */
.imagenResponsive{     
    width: 100%;
}

header img{
    margin-top: 1em;
}

.idiomas{
	color: black;
    font-weight: bold;
	margin-left: 2em;
}
.titulo{
	color: black;
    font-weight: bold;
	justify-content:center;
	text-align: center;
}

.enlaces{
	color: black;
    font-weight: bold;
	justify-content:center;
	text-align: center;
}

li
{
	margin-left: 20px;
}
h2,dt
{
	margin-left: 40px;
}

.flex-container {
    width: 90%;
    margin: 0 auto;
    overflow: scroll;
	list-style-type:none;/*Para quitar los puntos de la lista*/
}

.flex-items
{
	margin: 15px;
    width: 60%;
}

@media (min-width: 320px) {


}

@media (min-width: 830px) {
	.flex-items
	{	
		margin: 10px;
		float: left;
		width: 40%;
	}
}

@media (min-width: 1200px) {
	.flex-items
	{
		width: 20%;
	}
}